/* Cores */
:root {
    --blue-primary: #0500FF;
    --blue-10: #EDEFFB;
    --black-neutral: #1C1C1C;
    --gray-20-neutral: #9E9E9E;
    --gray-10-neutral: #DFDFDF;
    --gray-05-neutral: #F5F5F5;
    --gray-00-neutral: #F0F0F0;
    --white-neutral: #FFFFFF;
}

body {
    font-family: 'Roboto';
    margin: 0;
    background-color: var(--gray-00-neutral);

    h1, h2, h3 {
        font-family: 'Helvetica';
    }

    h1 {
        font-size: 20px;
        font-weight: 500;
    }

    h2, h3 {
        font-size: 16px;
    }

    /* Header */
    header {
        background-color: var(--white-neutral);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 12px 20px;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
        
        img {
            width: 71.19px;
            height: 14px;
            margin: 10px;
        }
    }

    /* Conteúdo principal */
    main {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;

        section.titulo__e__filtros {
            margin: 44px 32px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input {
                padding: 0 16px;
                color: var(--gray-20-neutral);
                font-size: 16px;
                border: 1px solid var(--gray-10-neutral);
                border-radius: 8px;
                height: 48px;
                min-width: 287px;
                max-width: 335px;
                outline: none;
            }
        }

        table {}
    }
}